In [97]:
import numpy as np
import pandas as pd
df = pd.read_csv('shots_data.csv')

In [94]:
team_a = df[df['team'] == 'Team A']
team_b = df[df['team'] == 'Team B']
team_b

       team     x     y  fgmade
280  Team B  -2.9  16.7       0
281  Team B  10.3  24.7       0
282  Team B  -3.5   5.3       1
283  Team B   0.9   1.5       0
284  Team B  22.8  -1.5       0
..      ...   ...   ...     ...
499  Team B  -0.5   2.2       0
500  Team B   3.5   7.6       0
501  Team B   0.2   8.8       0
502  Team B  -0.6   0.7       1
503  Team B  -0.3   3.6       0

[224 rows x 4 columns]

In [ ]:
# TEAM A #

In [108]:
nc3 = team_a[(abs(team_a['y']) > 7.8) & (np.sqrt(((team_a['y'])**2 + (team_a['x'])**2)) > 23.75)]
(len(nc3)/len(team_a))

0.24285714285714285

In [107]:
c3 = team_a[(abs(team_a['y']) <= 7.8) & (abs(team_a['x']) > 22)]
(len(c3)/len(team_a))

0.06428571428571428

In [106]:
twopt = team_a[(abs(team_a['x']) < 22) & (np.sqrt(((team_a['y'])**2 + (team_a['x'])**2)) < 23.75)]
(len(twopt)/len(team_a))

0.6928571428571428

In [74]:
((nc3['fgmade'].value_counts()[1]) + (nc3['fgmade'].value_counts()[1] * 0.5))/len(nc3)

0.4632352941176471

In [82]:
((c3['fgmade'].value_counts()[1]) + (c3['fgmade'].value_counts()[1] * 0.5))/len(c3)

0.75

In [89]:
twopt['fgmade'].value_counts()[1] / len(twopt)

0.4896907216494845

In [ ]:
# TEAM B #

In [95]:
nc3b = team_b[(abs(team_b['y']) > 7.8) & (np.sqrt(((team_b['y'])**2 + (team_b['x'])**2)) > 23.75)]
len(nc3b)/len(team_b)

0.2767857142857143

In [99]:
c3b = team_b[(abs(team_b['y']) <= 7.8) & (abs(team_b['x']) > 22)]
len(c3b)/len(team_b)

0.049107142857142856

In [104]:
twoptb = team_b[(abs(team_b['x']) < 22) & (np.sqrt(((team_b['y'])**2 + (team_b['x'])**2)) < 23.75)]
len(twoptb)/len(team_b)

0.6696428571428571

In [101]:
((nc3b['fgmade'].value_counts()[1]) + (nc3b['fgmade'].value_counts()[1] * 0.5))/len(nc3b)

0.5080645161290323

In [102]:
((c3b['fgmade'].value_counts()[1]) + (c3b['fgmade'].value_counts()[1] * 0.5))/len(c3b)

0.5454545454545454

In [103]:
twoptb['fgmade'].value_counts()[1] / len(twoptb)

0.44666666666666666